################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileSystemSyncher/.vs/FileSystemSyncher/v14
/FileSystemSyncher/FileSystemSyncher.Console/bin/Debug
/FileSystemSyncher/FileSystemSyncher.Console/obj/Debug
/FileSystemSyncher/FileSystemSyncher.startup.suo
